@Model tp4.Models.altaCadete

@{
    ViewData["Title"] = "Alta de cadete";
}

<div class="text-center">
    <h1 class="display-4">Alta de un cadete</h1>
    <p>Se dio de alta al cadete @Model.</p>
    

</div>
