@{
    ViewData["Title"] = "Baja Cadete";
}

@model Cadeteria

<header>
    <h1>Baja del cadete @Model.cadetes[0].getNombre()</h1>
</header>

<section>
    <article>
        <h2>Se dio del baja al cadete</h2>
    </article>
</section>